body {
  height: 100vh;
  background: #f0f0f0;
  background-image: url(../../images/background/image1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  perspective: 1000px;
}

.envelope {
  position: relative;
  width: 400px;
  height: 260px;
  background: linear-gradient(125deg, #f0bbbb, #f59999, #f77c7c);
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.flap {
  position: absolute;
  top: -100px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 210px solid transparent;
  border-right: 190px solid transparent;
  border-bottom: 100px solid #f8cbcb;
  transform: rotateX(180deg);
  transform-origin: bottom center;
  transition: transform 0.6s ease-in-out;
  cursor: pointer;
  transform-style: preserve-3d;
  z-index: 1;
}

.flap.open {
  transform: rotateX(0deg);
  z-index: -1;
}

.card {
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(0%);
  width: 320px;
  height: 200px;
  background: #ffe1e1;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 15px;
  /* font-size: 1em;     */
  transition: transform 0.6s ease-in-out;
  pointer-events: none;
  z-index: -1;
}
.flap.open ~ .card {
  transform: translateX(-50%) translateY(-100%);
}

.envelope::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid linear-gradient(125deg, #f0bbbb, #f59999, #f77c7c);
  /* z-index: -1; */
}
